@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nanum-square-light";
  src: url('/fonts/NanumSquareL.ttf')
}

@font-face {
  font-family: "nanum-square-regular";
  src: url('/fonts/NanumSquareR.ttf')
}

@font-face {
  font-family: "nanum-square-bold";
  src: url('/fonts/NanumSquareB.ttf')
}

:root {
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "nanum-square-regular";
}

/* width */
::-webkit-scrollbar {
    height: 3.5px;
    width: 3.5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #10b981;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 3px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d3d3d3;
}