@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nanum-square-light";
  src: url('/fonts/NanumSquareL.ttf')
}

@font-face {
  font-family: "nanum-square-regular";
  src: url('/fonts/NanumSquareR.ttf')
}

@font-face {
  font-family: "nanum-square-bold";
  src: url('/fonts/NanumSquareB.ttf')
}

:root {
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "nanum-square-light";
}
