@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nanum-square-regular";
  src: url('/fonts/NanumSquareR.ttf')
}

@font-face {
  font-family: "nanum-square-bold";
  src: url('/fonts/NanumSquareB.ttf')
}

@font-face {
  font-family: "nanum-square-extrabold";
  src: url('/fonts/NanumSquareEB.ttf')
}

:root {
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "nanum-square-regular";
}

/* width */
::-webkit-scrollbar {
    height: 3.5px;
    width: 3.5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #10b981;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 3px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d3d3d3;
}

.tracker {
  position: absolute;
  margin: -35px 0 0 -30px;
  cursor: pointer;
  z-index: 3;
}

.balloon {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/balloon.png);
  -ms-transform-origin: 50% 34px;
  -webkit-transform-origin: 50% 34px;
  transform-origin: 50% 34px;
}

/* chat loading animation */

.loader{ 
  display: flex; 
  align-items: center; 
} 
/* Creating the dots */ 
.dot{ 
  height: 10px; 
  width: 10px; 
  margin-right: 4px; 
  border-radius: 50%; 
  background-color: #e5e7eb; 
  animation: loading 1s linear infinite; 
} 
/* Creating the loading animation*/ 
@keyframes loading { 
  0%{ 
   transform: translateX(0); 
  } 
  25%{ 
   transform: translateX(10px); 
  } 
  50%{ 
   transform: translateX(-10px); 
  } 
  100%{ 
   transform: translateX(0); 
  } 
    
} 
 
.dot:nth-child(1){ 
 animation-delay: 0.1s; 
} 
.dot:nth-child(2){ 
 animation-delay: 0.2s; 
} 
.dot:nth-child(3){ 
 animation-delay: 0.3s; 
} 
.dot:nth-child(4){ 
 animation-delay: 0.4s; 
} 
.dot:nth-child(5){ 
 animation-delay: 0.5s; 
} 